*{
    margin: 0;
    padding: 0;
}
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
    width: 100%;
    height: 100%;
    font: 14px/1.5 Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;
    touch-action:none;
}
li{
    list-style: none;
}

/* 公共样式 */
.title{
    color: #fff;
    font-size: 15px; 
    padding: 10px 0 0 20px;
}
.name{
    color: #b3b3b3;
    font-size: 13px;
    padding: 2px 0 0 20px;
}
/* 公共样式 end */
#main{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
#musicList{
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
}
#musicList .list_title{
    width: 100%;
    height: 40px;
    background: rgba(41,171,226,.6);
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: white;
    position: absolute;
    top: 0;
}
#musicList .list_tip {
    width: 16px;
    height: 16px;
    background: url(../img/tip.png) no-repeat;
    background-size: cover;
    position: absolute;
    right: 15px;
    top: 12px;
}
/* 播放列表 */
#musicList .list_content {
    width: 100%;
    position: absolute;
    top: 40px;
    bottom: 65px;
    overflow: hidden;
}
#musicList .list_content ul{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0; 
    transform: translate3d(0,0,0);
    /* 以此开启GPU加速（硬件），以此解决卡顿 */
}
#musicList .list_content ul li{
    width: 100%;
    height: 60px;
    background: rgba(26,26,26,.6);
    border-bottom: 1px #999999 solid;
    box-sizing: border-box;
}
#musicList .list_content ul li.active {
    border-left: 5px #f00 solid;
}




 /* 播放器样式 */
#musicList .list_audio {
    width: 100%;
    height: 65px;
    background: url(../img/list_audioBg.png) repeat-x;
    position: absolute;
    bottom: 0;
}
#musicList .list_audioImg{
    width: 50px;
    border-radius: 50%;
    float: left;
    margin-top: 7px;
    margin-left: 15px;
    box-shadow: 0 0 3px 3px rgba(255, 51, 0, 0.644);
}
#musicList .list_audioImg.move{ 
    animation: 4s linear infinite audioImgMove; 
    -webkit-animation: 4s linear infinite audioImgMove; 
    }
@keyframes audioImgMove{ 
    0%{transform:rotate(0deg);}
    100%{ transform:rotate(360deg);} }
@-webkit-keyframes audioImgMove{
    0%{transform:rotate(0deg);}
    100%{ transform:rotate(360deg);}}

#musicList .list_audioText{
    float: left;
}
#musicList .list_audioBtn{
    width: 32px;
    height: 32px;
    float: right;
    background: url(../img/list_audioPlay.png) no-repeat;
    background-size: cover;
    margin: 16px 15px 0 0;
    display: none; 
    /* 初始为隐藏状态 */
}

/* 详情页 */
#musicDetails{ 
    width: 100%;
    height: 100%;
    background: url(../img/detailsBg.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    background-position: bottom;
    top: 0;
    left: 0;
    z-index: 20;
    overflow: hidden;
}
#musicDetails .details_title{
    width: 100%;
    height: 40px;
    background: rgba(41,171,226,.6);
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: white;
    position: absolute;
    top: 0;
}
#musicDetails .details_name span{ margin-left:5px; font-size: 12px;   }
#musicDetails .details_tip{ width: 19px; height: 10px; background: url(../img/details_arrow.png) no-repeat; background-size: cover; position: absolute; right: 15px; top: 15px;   }

#musicDetails .details_lyric{ width: 100%; position: absolute; top: 40px; bottom: 150px; overflow: hidden; transition: .5s;-webkit-transition: .5s; }
#musicDetails .details_lyric ul{ 
    width: 100%; 
    text-align: center; 
    color: white; 
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    transition: .2s;
    -webkit-transition: .2s;
     
    }
#musicDetails .details_lyric li{ margin-top: 15px; }
#musicDetails .details_lyric li.active{ color: #eaff00;font-size: 18px;text-shadow: 1px 2px 5px pink;}
#musicDetails .details_audio{
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    transition: .5s;
    -webkit-transition: .5s;
}

#musicDetails .details_audioAll{ width: 200px; margin: 20px auto; position: relative; }
#musicDetails .details_audioPro{ width: 100%; height: 2px; background: white; }
#musicDetails .details_audioProUp{ width: 0; height: 2px; background: #29abe2; position: absolute; left: 0; top: 0; }
#musicDetails .details_audioProBar{ width: 15px; height: 15px; background: #29abe2; border-radius: 50%; position: absolute; left: 0; top: 0; margin: -7px; }
/* time */
#musicDetails .details_nowTime { font-size: 12px; color: #b3b3b3; position: absolute; top: -8px; left: -40px; }
#musicDetails .details_allTime { font-size: 12px; color: #b3b3b3; position: absolute; top: -8px; right: -40px; }
#musicDetails .details_play { width: 55px; height: 55px; background: url(../img/details_play.png) no-repeat; background-size: cover; position: absolute; left: 50%; margin-left: -27px; top: 30px;   }
#musicDetails .details_prev { width: 37px; height: 37px; background: url(../img/details_prev.png) no-repeat; background-size: cover; position: absolute; left: 10px; top: 37px; }
#musicDetails .details_next { width: 37px; height: 37px; background: url(../img/details_next.png) no-repeat; background-size: cover; position: absolute; right: 10px; top: 37px; }

 /* 留言 */
#musicDetails .details_message {
    width: 80%;
    margin-left: 10%;
    position: absolute;
    top: 40px;
    bottom: 50px;
    transition: .5s;
    -webkit-transition: .5s;
    
}
#musicDetails .details_message textarea {
    width: 100%;
    height: 100px;
    background: #9babb2;
    border-radius: 5px;
    margin-top: 10px;
}
::-webkit-input-placeholder{ color: block; }
::-moz-input-placeholder{ color: block; }

#musicDetails .details_message input{ width: 100%; height: 30px; color: white; background: #29abe2; border-radius: 5px; border: none; }
#musicDetails .details_message ul{ width: 100%; font-size: 12px;}
#musicDetails .details_message li{ 
    background: rgba(26,26,26,.6); 
    border-radius: 5px; 
    padding: 10px; 
    color: white;
    float: left; 
    clear: both; 
    margin-top: 10px; 
    transition: 1s;
    -webkit-transition: 1s;
}


#musicDetails .details_btn{ width: 100%;position: absolute; bottom: 10px; text-align: center; }
#musicDetails .details_btn li{ width: 7px; height: 7px; background: #29abe2; border-radius: 5px; display: inline-block; margin: 3px; transition: .5s;-webkit-transition: .5s;}
#musicDetails .details_btn li.active{ width: 21px; }
/* 加载页 */
#loading {
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 23;
    overflow: hidden;
}
#loading .content1,
#loading .content2 {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -15px;
}
#loading .content1 div,
#loading .content2 div {
    width: 8px;
    height: 8px;
    background: white;
    position: absolute;
    border-radius: 50%;
    /* 调用动画 */
    animation: 2s linear infinite loadingMove;
    -webkit-animation: 2s linear infinite loadingMove;
}

#loading .content1 .arc1,
#loading .content2 .arc1{left:0;top:0;}
#loading .content1 .arc2,
#loading .content2 .arc2{right:0;top:0;}
#loading .content1 .arc3,
#loading .content2  .arc3{right:0;bottom:0;}
#loading .content1 .arc4,
#loading .content2 .arc4{left:0;bottom:0;}
/* 旋转的content2 */
#loading .content2{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
@keyframes loadingMove{
    0%{transform:scale(1);}
    50%{transform:scale(0);}
    100%{transform:scale(1);}
}
@-webkit-keyframes loadingMove{
    0%{-webkit-transform:scale(1);}
    50%{-webkit-transform:scale(0);}
    100%{-webkit-transform:scale(1);}
}
#loading .content1 .arc1{ animation-delay: -.1s;}
#loading .content2 .arc1{ animation-delay: -.3s;}
#loading .content1 .arc2{ animation-delay: -.5s;}
#loading .content2 .arc2{ animation-delay: -.7s;}
#loading .content1 .arc3{ animation-delay: -.9s;}
#loading .content2 .arc3{ animation-delay: -1.1s;}
#loading .content1 .arc4{ animation-delay: -1.3s;}
#loading .content2 .arc4{ animation-delay: -1.5s;}
